html,body {
    overflow-x: hidden;
}
/* first-navbar */
.first-navbar {
    flex-wrap: wrap;
}
/* second navbar */
.second-navbar {
    flex-wrap: wrap;

}

.second-navbar li {
    padding: 5px;
}

.second-navbar li a {
    padding: 5px;
}
/* third navbar */
.third-navbar {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* banner-img */
.banner-img {
    max-width: 470px;
    max-height: 200px;

}
/* first section */
.colm{
    flex-direction: column;
    gap: 20px;
}

.left-column {
    text-align: center;
}

.left-column h1 {
    font-size: 2rem;
    text-align: left;
}

#btn5-6 {
    margin: 0px 10px;
    padding: 0px 10px;
}

#industry-job {
    margin: 0px 10px;
    padding: 0px 10px;
}

.arfatower-students {
    max-width: 380px;
    max-height: 400px;
}
/* second section */
.section-2 {
    flex-direction: column;
    gap: 30px;
}

.section-2 p {
    font-size: 0.9rem;

}

/* section 3 */

.section3-header {
    padding: 10px;
    width: auto;
}

.flx-O {
    flex-wrap: wrap;
}

.flx {
    margin: 5px;
    padding: 5px;
    gap: 5px;
}

.box {
    padding: 5px;
}

/* section 4 */

.section4-header {
    padding: 10px;
    width: auto;
}

/* card section */

.card-flx {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section 6 */
.section6-header {
    padding: 10px;
    width: auto;
}

/* section 6 boxes */

.specifications {

    flex-wrap: wrap;
}

.specifications-rows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specifications-boxes {
    width: 420px;
    height: 70px;
    padding: 10px;
    gap: 20px;
}

/* section 7 */

.section7 {
    flex-direction: column;
}

.boxes-column {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.side-image img {
    max-width: 450px;
    max-height: 250px;
}

.small-boxes {
    width: 400px;
    max-height: 30px;
}

/* section 8 */

.section8-header {
    width: auto;
}

.inner-box {
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/* section 9 */

.section9-box {
    width: auto;
}

.attributes-boxes {
    flex-wrap: wrap;
}

.saf-boxes-flx {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.affiliation-img {
    max-width: 400px;
}

.saf-boxes {
    width: 430px;
}

/* section 10 */

.campuses-row-flx {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campus-boxes1 {
    width: 400px;
}

.campus-boxes {
    width: 400px;
}
.campus-boxes1 div{
  text-align: left;
  align-items: center;
  justify-content: left;
}

/* section 11 */
.cities-row-flx {
    flex-direction: column;

}
.cities-flx{
    flex-direction: row;
   
}
/* footer */
.top-portion {
    flex-direction: column;
}

.bottom-line {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

